@model HolaMundo.FirebaseStorage.Models.UploadModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-controller="Home" asp-action="Upload" enctype="multipart/form-data">
        <dl>
            <dt>
                <label>Archivo</label>
            </dt>
            <dd>
                <input asp-for="FormFile" type="file" />
            </dd>
        </dl>
        <input type="submit" value="Upload" />
    </form>
</div>
